In [69]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

import seaborn as sns

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

In [70]:
# import Housing.csv
df = pd.read_csv('data/Housing.csv')
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [71]:
#Data preprocessing

df = df.replace(to_replace = "yes", value = 1)
df = df.replace(to_replace = "no", value = 0)

In [72]:

x = df["area"]
y=df["price"]

x = x.to_numpy().reshape(-1,1)
y = y.to_numpy().reshape(-1,1)

In [73]:
print(x.shape)
print(y.shape)

(545, 1)
(545, 1)

In [74]:
# Train Test split 
x_train, x_test, y_train, y_test = train_test_split(x,y, 
                                     train_size = 0.7, 
                                     test_size = 0.3, 
                                     random_state = 42)

print(len(x_train))
print(len(x_test))

381
164

In [75]:
#simple regression model with 'area' as a predictor variable


#train model
model = LinearRegression()
model.fit(x,y)
y_pred = model.predict(x)

#list to store number of predictor variables
predictors=[]

#list to store model scores
MSE_scores=[]
R2_scores=[]

MSE= mean_squared_error(y, y_pred)
R2= r2_score(y, y_pred)

print (MSE)
print (R2)

predictors.append(1)
MSE_scores.append(MSE)
R2_scores.append(R2)

2488861398180.657
0.2872931546811468

In [92]:
degrees = [1,2,3,4,5]
colors=['b','y','m','c']
model_scores=[]

#plot scatter plots of train and test data


for i in range(len(degrees)):  
    poly = PolynomialFeatures(degree=degrees[i])
    poly_features = poly.fit_transform(x_train)
    poly_reg_model = LinearRegression()
    poly_reg_model.fit(poly_features, y_train)
    
    y_pred = poly_reg_model.predict(poly_features)
    
    poly_test_features = poly.fit_transform(x_test)
    y_test_pred = poly_reg_model.predict(poly_test_features)

    
    train_score= r2_score(y_train, y_pred) 
    test_score= r2_score(y_test, y_test_pred)
    
    print("degree", degrees[i], "train_score", train_score, "test_score", test_score)

degree 1 train_score 0.3040277372548503 test_score 0.2583140345296001
degree 2 train_score 0.35305513628073903 test_score 0.27182825935786414
degree 3 train_score 0.354124663987906 test_score 0.27450707489179627
degree 4 train_score 0.40862275298537853 test_score 0.21664850404251768
degree 5 train_score 0.4068007191980477 test_score 0.2056124341101796